// Neuomorphic design flourishes

@mixin neu-flat-raised($backgroundcolor, $shadowcolor1, $shadowcolor2, $depth, $radius) {
    border-radius: $radius;
    background:     $backgroundcolor;
    box-shadow:     $depth $depth ($depth * 2) $shadowcolor1, 
                    (-1 * $depth) (-1 * $depth) ($depth * 2) $shadowcolor2;
}

@mixin neu-flat-raised-gradient($backgroundcolor1, $backgroundcolor2, $shadowcolor1, $shadowcolor2, $depth, $radius) {
    border-radius:  $radius;
    background:     linear-gradient(145deg, $backgroundcolor1, $backgroundcolor2);
    box-shadow:     $depth $depth ($depth * 2) $shadowcolor1, 
                    (-1 * $depth) (-1 * $depth) ($depth * 2) $shadowcolor2;
}

@mixin neu-flat-inset($backgroundcolor, $shadowcolor1, $shadowcolor2, $depth, $radius) {
    border-radius: $radius;
    background: $backgroundcolor;
    box-shadow:     inset $depth $depth ($depth * 2) $shadowcolor1, 
                    inset (-1 * $depth) (-1 * $depth) ($depth * 2) $shadowcolor2;
}