// Home page styles

body#home {

	main#content {
		
	}

	section {
		padding-top: 			100px;
		padding-bottom: 		100px;


	}

	section#podcasts {

		display: grid;
		align-items: center;
		justify-items: center;

		min-height: 100vh;

		background: $gray-200;

		div.container {
			display: grid;
			justify-items: center;
		}
		
		div#podcasts-icon {
			display: 	grid;
			
			width: 		200px;
			height: 	200px;
	
			margin: 	100px 0;

			justify-content: flex-end;
			
			@include md-up {
				margin-top: 50px;
			}

			padding: 	40px;

			img {
				display: inline-block;
				max-width: 100%;
				max-height: 100%;
			}
		
			div.play {
				display: inline-block;
				content: "";
				justify-self: center;
				align-self: center;
				width: 100px;
				height: 100px;
				margin-left: 15px;
				border-style: solid;
				border-width: 50px 0 50px 86.6px;
				border-color: transparent transparent transparent $black;
			}

			&.start {
				@include neu-flat-raised($gray-200, #dcdcdc, #f4f4f4, 0px, 30px);
				transition: all 1s ease;
				transform: scale(0.96, 0.96);
				border: 1px #ffffff00 solid;
			}
	
			&.end {
				@include neu-flat-raised($gray-200, #dcdcdc, #f4f4f4, 50px, 30px);
				transition: all 1s ease 0.25s;
				transform: scale(1, 1);
				border: 1px #ffffff33 solid;
			}

			&:hover,
			&:focus {
				@include neu-flat-raised($gray-200, #dcdcdc, #f4f4f4, 5px, 30px);
				transition: all 0.25s ease;
				transform: scale(0.99, 0.99);
			}
		}
	}
	
	section#dept-bad-ideas {
		background: #ffd700;

		padding-bottom: 50px;

		div {
		
			display: grid;

			justify-items: center;
			align-items: center;

			img {
				max-width: 100%;
				padding: 0 20px;
				@include md-up{
					padding: 0;
					max-width: 500px;
				}
				justify-self: center;
			}

			p {
				text-align: center;
				@extend h2;
			}
			a.button {

				display: inline-block;
				padding: 20px 50px;

				border: 1px #fff70027 solid;
				@include neu-flat-raised(#ffd700, #d9b80099, #fff70099, 15px, 10px);

				transform: scale(1,1);
				text-decoration: none;
				transition: all 0.25s ease;

				&:hover,
				&:focus {
					color: $black;
					@include neu-flat-raised(#ffd700, #d9b70099, #fff70099, 5px, 10px);
					transition: all 0.25s ease;
					transform: scale(0.99, 0.99);
				}
				&:active {
					color: $black;
					@include neu-flat-inset(#ffd700, #d9b70099, #fff70099, 5px, 10px);
					transition: all 0.25s ease;
					transform: scale(0.98, 0.98);
				}
			}

		}

	}
	
	section#wdydt {
		background: $cyan;
		
		div.box{
			@include neu-flat-raised($cyan, #0087c1, #00b7ff, 50px, 30px);
		}
	}
		
}