// OVERRIDE VARIABLES FOR SUBSITES

$h1-padding-top:					$h1-font-size-base;
$h1-padding-top-xs:					$h1-font-size-base-xs * 0.5;
$h1-padding-top-sm:					$h1-font-size-base-sm * 0.5;
$h1-padding-top-md:					$h1-font-size-base-md * 0.5;
$h1-padding-top-lg:					$h1-font-size-base-lg * 0.5;
$h1-padding-top-xl:					$h1-font-size-base-xl * 0.5;

$h1-padding-bottom:					0;
$h1-padding-bottom-xs:				0;
$h1-padding-bottom-sm:				0;
$h1-padding-bottom-md:				0;
$h1-padding-bottom-lg:				0;
$h1-padding-bottom-xl:				0;