// OVERRIDE VARIABLES FOR SUBSITES

$h2-padding-top:					$h2-font-size-base;
$h2-padding-top-xs:					$h2-font-size-base-xs;
$h2-padding-top-sm:					$h2-font-size-base-sm;
$h2-padding-top-md:					$h2-font-size-base-md;
$h2-padding-top-lg:					$h2-font-size-base-lg;
$h2-padding-top-xl:					$h2-font-size-base-xl;

$h2-padding-bottom:					$h2-font-size-base;
$h2-padding-bottom-xs:				$h2-font-size-base-xs / 2;
$h2-padding-bottom-sm:				$h2-font-size-base-sm / 2;
$h2-padding-bottom-md:				$h2-font-size-base-md / 2;
$h2-padding-bottom-lg:				$h2-font-size-base-lg / 2;
$h2-padding-bottom-xl:				$h2-font-size-base-xl / 2;

$h2-text-align:						left;