// Theme overrides

body {
	
	&.theme-apple {
		
		h1 {
			@include gradient-text($magenta, $purple, $blue, $cyan, $green, $yellow);
		}
		
	}
		
	&.theme-cyan {
		
		header#site-header,
		div.header-align-left,
		h1.post-title {
			@include cyan;
		}
		
		button#header-menu-toggle {
			color: 					$black;
			
			&:hover,
			&:focus {
				color:				$white !important;
			}

		}
		
		button#header-menu-toggle:hover {
			svg#header-menu-toggle-image { 
				rect,
				&.open rect {
					fill:			$cyan !important;
					
					@include dark-mode {
						fill:		$cyan !important;
					}
				}
			}
		}
		
	}
	
	&.theme-magenta {
		
		header#site-header,
		div.header-align-left,
		h1.post-title {
			@include magenta;
		}

		a {
			&:hover,
			&:focus {
				color: $magenta;
			}
		}
		
		button#header-menu-toggle:hover {
			svg#header-menu-toggle-image { 
				rect,
				&.open rect {
					fill:			$magenta !important;
					
					@include dark-mode {
						fill:		$magenta !important;
					}
				}
			}
		}
	}
	
	&.theme-green {
		
		header#site-header,
		div.header-align-left,
		h1.post-title {
			@include green;
		}

		a {
			&:hover,
			&:focus {
				color: $green;
			}
		}
		
		button#header-menu-toggle:hover {
			svg#header-menu-toggle-image { 
				rect,
				&.open rect {
					fill:			$green !important;
					
					@include dark-mode {
						fill:		$green !important;
					}
				}
			}
		}
		
	}
	
	&.theme-facebook-blue {
		
		header#site-header,
		div.header-align-left,
		h1.post-title {
			@include facebook-blue;
		}

		a {
			&:hover,
			&:focus {
				color: $facebook-blue;
		
				@include dark-mode {
					color: $cyan;
				}
			}
		}
		
		button#header-menu-toggle:hover {
			svg#header-menu-toggle-image { 
				rect,
				&.open rect {
					fill:			$cyan !important;
					
					@include dark-mode {
						fill:		$cyan !important;
					}
				}
			}
		}
		
	}

	&.theme-red {
		
		header#site-header,
		div.header-align-left,
		h1.post-title {
			@include red;
		}

		a {
			&:hover,
			&:focus {
				color: $red;
		
				@include dark-mode {
					color: $red;
				}
			}
		}
		
		
		
		button#header-menu-toggle:hover {
			svg#header-menu-toggle-image { 
				rect,
				&.open rect {
					fill:			$red !important;
					
					@include dark-mode {
						fill:		$red !important;
					}
				}
			}
		}
		
	}
	
}