---
layout: default
---
			
<main id="content">

	<section id="podcasts">

		<div class="container">

			<div class="logo">
				<div class="logo--soundbar"></div>
				<div class="logo--soundbar"></div>
				<div class="logo--soundbar"></div>
				<div class="logo--soundbar"></div>
				<div class="logo--soundbar"></div>
				<div class="logo--soundbar"></div>
				<div class="logo--soundbar"></div>
				<div class="logo--soundbar"></div>
				<div class="logo--soundbar"></div>
			</div>
	
			<h1>
				Podcasts 
			</h1>

		</div>

	</section>

	<section id="dept-bad-ideas">
			
		
		

	</section>

	<!--<section id="wdydt">
			
		

	</section>-->

</main>